*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(25deg,black,navy);
    height: 100vh;
    color: #2BDEFD;
    font-family: Monaco, monospace;
    text-align: center;
}
.Calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 70px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    margin: 3px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 2px;
}
.botao:hover{
    background-color: black;
}
.rodape{
    background-color: rgb(48, 71, 94);
    color: white;
    height: 50px;
    text-align: center;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}
#resultado{
    background-color: white;
    width: 380px;
    height: 30px;
    margin: 3px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 1px;
    border-radius: 2px;
}